.showimg {
	display: block;
}
.hideimg {
	display: none;
}

.bean-home-cta {
	margin-bottom: 20px;
	.containing-cta {		
		.title {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: @primary-secondary;
			opacity: 0.5;
			text-transform: uppercase;
			text-align: center;
			font-size: 22px;
			padding: 5px 0;
			color: @primary-color;
			font-weight: lighter;
			font-family: @primaryFontFamily;
		}
	}
}

.subnav {
	h3 {
		font-size: 16px;
		text-transform: uppercase;
	}
	list-style: none;
	padding: 0;
	li.active {
		a {
			color: #c1cd80 !important;
			text-decoration: underline;
		}
	}
}

