.blogbanner {
	img {
		margin: 0 auto;
		width: 100%;
	}
}

.blogtop {
	margin-top: 20px;

}

.pane-bean-blog-categories-top,
.blogtop {
	div {
		display: inline-block;
		a {
			color: @primary-secondary;
		}
	}
	.active {
		a {			
			text-decoration: underline;
		}
	}
}

.hideimg {
	display: none;
}

.blog-content {
	margin-bottom: 20px;
	img {
		margin: 0 auto !important;
		max-width: 100%;
		height: auto;
		display:block;
	}
	p, li, a {
		font-size: 16px;
		color: @primary-secondary;
	}
}

.blog-side {
	img {
		margin: 20px 0;
	}
	
	.sidebar_social {
		margin: 0 !important;
	}
	.sidebar_stayconnected {
		text-align: center;
	}
}

.searchsearch {
	.pane-search-api-page-search-page {
		margin-top: 0;
	}
}

.searchbar {
	h2 {
		position: relative;
 		top: -10px;
	}
	.form-actions {
		margin-bottom: 0;
	}
}

.blogsearch {
	form {
		display: inline-block;
		width: 75%;
	}
}

.featuredblogbuttons,
.catinfo {
	a {
		color: #717171;
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}


.blogcatside {
	.pane-views-recent-blogs-block {
		margin-bottom: 20px;
	}
	.searchbar {
		form {
			width: 67% !important;
		}
	}
}

.blogartside {
	margin-bottom: 20px;
	.pane-search-api-page-search-page {
		form {
			display: inline-block;
			width: 68%;
		}
		h2 {
			padding: 0 5px 0 10px !important;
		}
	}
}

.pane-search-api-page-search-page,
#search-api-page-search-form-search-page {
	background-color: #F1F1F1;
	width: 100%;
	margin-top: 10px;
	padding: 5px 0;
	h2 {
		display: inline-block;
		  text-align: left;
		  margin: 0;
		  padding: 0 10px;
		  font-size: 16px;
		  text-transform: uppercase;
		  font-weight: bold;
	}
	.pane-content {
		width: 75%;
		display: inline-block;
	}
	.form-item-keys-1 {
		margin-bottom: 0;
		width: 80%;
		display: inline-block;
	}

}

#search-api-page-search-form-search-page {
	margin-top: 0 !important;
}

.blogcatside {
	.pane-search-api-page-search-page {
		
		.pane-title {
			padding: 0 5px 0 10px !important;
		}
		.pane-content {
			width: 67% !important;
		}
		.form-item-keys-1 {
			width: 75% !important;
		}
	}
}

.nodeload1,
.nodeload2,
.nodeload3,
.nodeload4 {
	text-align: center;

	padding: 20px;
	border-bottom: 1px solid #f6f6f6;
	&:hover {
		background-color: #f6f6f6;
		cursor: pointer;
	}

	a {
			font-size: 16px;
	}
}
#active {
	background-color: #f6f6f6;
	cursor: pointer;
	
}

.nodeload1, {
	border-top: 1px solid #f6f6f6;
}
#img1,
#img2,
#img3,
#img4 {
	img {
		margin: 0 auto !important;
		max-width: 100%;
		height: auto;
		display:block;
	}
}

.blog-top {
	margin: 40px 0;
}

.pane-recent-blogs,
.pane-views-recent-blogs-block {

	margin-right: 15px;
	// border: 1px solid #c1cd80;
	background-color: #F1F1F1;
	padding: 90px 10px;
	text-align: center;
	h2 {
		margin-top: 0;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.pane-content,
	.view-content {
		.views-row {
			padding-bottom: 10px;
			a {
				font-size: 14px;
			}
		}
	}
}
.pane-recent-blogs,
.pane-views-recent-blogs-block {
	a {
		color: @primary-secondary;
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

.blognav {
	margin: 20px 0;
}

.blog-view {
	margin-bottom: 20px;
	img {
		margin-bottom: 10px;
		width: 100% !important;
		height: auto !important;
	}
	.containing {
		position: relative;
		.field-content {
			position: absolute;
			bottom: 0;
			left: 0;
			  width: 100%;
			  background-color: #333333;
			  opacity: 0.8;			  
			  text-align: center;
			  padding: 5px 0;
			  a {
				color: #ffffff;
			  	 font-size: 16px;
			  }
			
		}
		.date {
			background-color: #333333;
			opacity: 0.8;	
			position: absolute;
			top: 35px;
			right: 0;
			color: #ffffff;
			padding: 5px 30px;		
		}
	}
}

.blog-side {
	.followusblog {
		h2,
		.bean-social-links {
			display: inline-block;
		}
	}
}

.blog-page-recent {
	margin: 20px 0;
}

.featuredblogimg {

		margin: 20px 0;

}

.home-blog-image {
	img {
		margin-bottom: 10px;
	}
}
.followusblog {	
	background-color: #F1F1F1;
	margin-top: 15px;
	.pane-content {
		display: inline-block;
		text-align: right;
	}
	h2 {
		display: inline-block;
		text-align: left;
		margin: 0;
		padding-right: 20px;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.featuredtopimage {

	.loadedblog {
		border: 3px solid #f6f6f6;
		height: 100%;
		div, img {
			height: 100% !important;
		}
	}
}

.view-recent-blogs {
	.views-row {
		padding-bottom: 5px !important;
	}
}
.pane-views-recent-blogs-block {
	margin-right: 0 !important;
	  padding: 20px !important; 
}

.featuredblogbuttons {
	.col-sm-12	{
		width: 80%;
		margin-left: 35px;
	}
}

.catinfo {
	text-align: center;
	margin-bottom: 15px;
	.cattitle {
		text-transform: uppercase;
		font-size: 16px;
		padding: 0;
	}
}

.taxname {
	text-transform: uppercase;
}

.featuredblogimg {
	border: 3px solid #f6f6f6;
	padding: 20px;
}

.bottom-row-blog {
	margin: 20px 0;

}

#blogcat {
	#topbanner,
	.bean-blog-categories-top,
	.blogcatview	{
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}

	
}
#topbanner,
.blogbanner {
		text-align: center;
	}
.bean-blog-catagories {
		img:hover {
			opacity: 0.8;
		}
	}
.view-Blogs {
	.blog-view  {
		text-align: center;
			img {
				height: 234px !important;
				width: 262px !important;
				margin: 0 auto;
			}
	}
}



@media screen and (max-width:@screen-sm) {

	.blogcatview {
		margin-bottom: 0 !important;
	}
	.pane-recent-blogs,
	.pane-views-recent-blogs-block {
		margin-bottom: 20px;
	} 
}

@media screen and (max-width:@screen-xs) {
		.view-Blogs .blog-view {
		.containing {
			height: 330px !important;
			overflow: hidden;
			img {
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}

.searchbar,
.pane-views-recent-blogs-block,
.followusblog {
	h2 {
		color: #717171 !important;
	}
}

.pane-views-recent-blogs-block {
	a:hover,
	a:focus {
		color: @primary-color !important;
	}
}

.pane-views-recent-blogs-block {
	a {
		color: #717171 !important;
	}
}
.blogheader {
	background-color: #aaaaaa;
	padding: 10px 0;
	margin-bottom: 20px;
	img {
		margin: 0 auto;
	}
}

.search-results {
	list-style: none;
	padding-left: 0;
	.search-result {
		padding-bottom: 15px;
		border-bottom: 2px solid #f1f2f2;
		a {
			color: @primary-secondary;
		}
	}
}

button[type="submit"] {
	background-color: @primary-color !important;
	border: 1px solid @primary-color !important;
}

.topbannerbanner {
	img {
		width: 100%;
	}
}

.bean-blog-categories-top {
	padding: 0 0 15px 0;
}

.blog-content {
	h1 {
		text-align: left;
		font-family: 'Lato',sans-serif;
	}
}
.addtobasket .form-item-quantity input {
	text-align: center;
}