.pane-webform-client-block-2 {
    background-color: @primary-color;
    -webkit-border-radius: 5px 5px 0px 0px;
    h2 {
        margin-top: 0;
        padding: 20px;
    }
    margin-bottom: 20px;
}

.webform-client-form-2 {
    background-color: #F1F1F1;
    padding: 20px;
    .webform-submit {
 
        margin-top: 20px;
    }
    label {
        padding: 20px 0 10px 0;
        margin: 0;
        }
        input {
        padding: 0 0 0 15px;
        margin: 0;
        }
        select {
        width: 100%;
        padding: 10px 15px;
        margin: 0;
        }

}

#edit-submitted-your-name,
#edit-submitted-your-email,
#edit-submitted-how-did-your-hear-about-us-
 {
    min-height: 40px;
}

