footer {
	.newsletter-footer {
		background-color: #f1f1f1;
		padding-bottom: 10px;
	}
	.privacy {
		text-align: right;
			a {
				padding: 0 15px;
		color: @primary-secondary;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		}
	}
	.socialicons {
		margin-top: 20px;
	}
	.bottomfooter {
		padding: 10px 0;
		.copyright {		
			p {
				padding: 0 15px;
			}
		}
	}
}


.webform-client-form-3 {
	input {
		margin-bottom: 5px;
	}
}





.footer2 {
	.joinourfamily {
		text-align: center;
		border-top: 1px solid @primary-secondary;
		border-bottom: 1px solid @primary-secondary;
		padding: 10px 0;
		margin: 20px 0 0 0;
		h3 {
			margin: 0;
		}
		h2 {
			font-size: 12.5px !important;
		}
		i {
			font-size: 22px;
			margin: 0 10px;
		}
	}
	.bottomfooter {
		h3 {
			font-size: 12.5px;
			text-transform: uppercase;
		}
		a {
			color: @primary-secondary;
		}
	}
}

#block-bean-footer-content p {
	font-size: 12.5px;
}