.navbar-default {
	background-color: transparent !important;
	border: none !important;
}

.nav > li > a:hover {
	background-color: transparent;
	color: black;
}


.nav > li > a:focus {
	background-color: transparent;
}


.navbar-nav {
	@media screen and (min-width:@screen-sm) {
		display:flex;
	}
	@media screen and (max-width:@screen-sm) {
		li {
		&:first-of-type {
			margin: 0 5px !important;
		}
	}
}
	margin: 5px 0;
	width: 100%;
	li {
		&:first-of-type {
			margin: 0;
		}
		flex:1;
		margin: 0 5px; 
		text-align: center;
		text-transform: uppercase;
		
		&:hover,
		&:focus {
			a {
				color: #777 !important;
			}
			background-color: @primary-color;
		}
		&.active,
		a.active {
			background-color: @primary-color !important;
		}
		
	}
}

.icon-bar {
	background-color: @primary-color !important;
}

.logo-area {
	margin-top: 20px;
}
@media (min-width: @screen-md) and (max-width: 1024px) {
	.navbar-nav {
		li {
			width: 15.8%;
		}
	}
	.nav>li>a { 
		padding: 10px 8px;
	}
}
@media (max-width: 765px) {
	.navbar-nav {		
			li {
				width: 100%;
				a {
					width: 100%;
					padding: 15px 0 !important;
					font-size: 12px;
				}
			}
	
	}
	.aboutourshoes_column,
	.buynow_column {
		padding-bottom: 15px;
	}
	.navbar {
		min-height: 0;
	}
	.home-content {
		padding: 20px 0;
	}
}

.main_nav {
	margin: 20px 0;
}

.navbar-toggle {
	margin: 0;
	width: 90px;
	border-color: @primary-color !important;
	.menu-text {
		float: left;
	}
	.burger-menu {
		float: right;
		padding-top: 3px;
		padding-left: 9px;
	}
}

.navbar_button {
	margin-top: 40px;
}

.signin,
.shoppingbasketsection {
	display: inline-block;
	text-align: right;
}

.topright {
	text-align: right;
}

.shoppingbasket {
	i {
		padding-right: 5px;
	}
}

.shoppingbasketsection {
	.shoppingcart {
		padding: 20px;
	}
	.shoppingbagtop {		
		img {
			width: 100%;
		}
		.content {
			text-align: left;
			h3 {
				margin-top: 0;
				font-size: 14px;
				font-weight: bold;
			}
		}
		.heeltype {
			div {
				display: inline-block;
				font-size: 12px;				
			}						
		}
		.shoedetails {
			p {
				margin-bottom: 0;
				font-size: 12px;
			}
		}
		.price {
			text-align: right;
		}
		button {
			background: none !important;
			border: none !important;
			color: @primary-secondary;
		}

	}
	.borderbreak {
			border-top: 1px solid #eee;
			margin-top: 0;
			margin-bottom: 20px;
		}
}

.shoppingcart {
	top: 35px;
	display: none;
	width: 400px;
	.total {
		text-align: left;
	}
	.checkout {
		width: 100%;
		background-color: @primary-color;
		padding: 15px 20px;
		margin: 20px 0 0 0;
		text-align: center;
		display: block;
		color: #ffffff;
		&:hover {
			color: #ffffff !important;
			text-decoration: none;
		}
		
	}
	.remove {
		position: relative;
  		top: -20px;
		button {
			padding: 0;		
		}
	}
}

.topright {
	a {
		color: #717171;
	}
}

.spacer {
	padding: 0 10px;
}
@media (max-width: 767px) {
	.navbar_button {
		margin-top: 20px;
	}
}