.home-top {
	margin-bottom: 20px;
}


.home-content {
	top: 0;
	text-align: center;
	h1 {
		color: #717171;
		font-size: 38px;
		font-weight: lighter;
	}
	h2 {
		a {
			color: @primary-secondary !important;
			text-transform: uppercase;
	  		font-size: 24px;			
		}
	}
}

.home-top,
.home-bottom { 
	img {
		&:hover {
			opacity: 0.8;
		}
	}
}

.bean-home-cta {
	img {
		width: 100%;
	}
}

.containing-cta {
	position: relative;
}

.home-middle {
	margin-top: 40px;
	margin-bottom: 40px;
	.homeicons {
		h3 {
			margin-bottom: 0;
			color: @primary-color;
			text-transform: uppercase;
			font-size: 14px;
		}
		p {
			text-transform: uppercase;

		}
	}
}

@media only screen and (max-width : 767px) {
	.home-middle {
		margin-top: 0 !important;
		.homeicons {
			text-align: center;
		}
	}
	
	.home-topright {
		height: 100% !important;
	}
}
