.shop-now-content {
	text-align: center;
	h2 {
		font-size: 20px;
	}
}

.shoppingbag,
.selection {
	background-color: #eeeeee;
	.pane-title {
		font-size: 16px;
		color: #ffffff;
		background-color: @primary-color; 
		padding: 10px;
	}
	.views-exposed-widget {
		width: 100%;
	}
}
.node-shoe {
	margin-bottom: 20px;
	.imagecontainer {
		min-height: 415px;  
	 	position: relative;
	 	img {	 	
	 		margin: 0 auto;
	 		position: absolute;
	 		bottom: 0;
	 	}
	}
}

.shoppingbag {
	.line-item-summary {
		padding: 0 15px;
	}
}

.selection {
	.pane-content {
		padding: 0 0 0 15px;
	}
}

.shopnowview,
.nodeshoe  {
	text-align: center;
	.colours {
		span {
			display: inline-block !important;
			margin: 0 5px;			
		}
	}
}

.shoeitem {	
	&:hover {
		text-decoration: none;
	}
}

.commerce-paypal-icon {
	margin-bottom: 10px;
}
.commerce-paypal-icon {
	display: inline-block !important;
}

.shopnowview {
	margin-bottom: 20px;
	.node-shoe {
		a {		
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

.selection {	
	.pane-title {
		cursor: pointer;
		&:after {
			float: right;
			padding-left: 5px;
			content: "\f0da";
			font-family: 'fontawesome';
		}
	}
	#active {
		&:after {			
			content: "\f0d7" !important;			
		}
	}
	#hidden {
		display: none !important;
		
	}
}

.tabletshoe {
	margin-bottom: 20px;
}

@media only screen and (max-width : 992px) { 
	.selection {	
		.pane-title {
			background-size: cover;
		}
	}
}

.shopnowbanner {
	img {
		width: 100%;
	}
}

.commerce-product-shoe {
	color: #717171;
	font-size: 16px;
	h2 {
		font-size: 16px;
		a {
			color: #717171;
		}		
	}
}
.nodefull {
	h2 {
		font-size: 20px;
		color: #717171;
	}
}

.selection {
	.views-exposed-widget {
		
	}
	.bef-select-as-checkboxes {
		height: auto !important;
		background: none;
		border: none;
		box-shadow: none;		
		padding-left: 0;	
		.form-type-bef-checkbox {		
			
			box-shadow: none;
			input {
				box-shadow: none;
				display: inline-block;
				width: 20%;
				height: auto;
			}
			label {
				display: inline-block;
			}
		}
	}
}

.desctitles {
	list-style: none;
	li {
		display: inline-block;
		cursor: pointer;
	}
}

.imageswap {
	height: 115px;
	margin-bottom: 15px;
	cursor: pointer;
}

#accordion {
	margin-top: 20px;
}

.selection {
	margin-bottom: 40px;
	#active {
		background-color: @primary-color !important;
	}
}
.commerce-add-to-cart {
	#edit-quantity {
		text-align: center;
	}
}

.commerce-product-shoe .content {
	font-size: 12.5px;
}

.imageswap {
	margin-bottom: 20px !important;
}

.selectedimage {
	img {
		max-width: 299px;
	}
}

.home-content {
	height: 100%;
	.pane-content {
		height: 100%;
		.bean-content {
			height: 100%;
		    display: flex;
		    align-items: center;
		}
	}
	.content {
		h1 {
			line-height: 28px;
    		margin: 15px 0;
		}
	}
}

@media (max-width: 767px) {
	.node-shoe .imagecontainer img {
		width: 100%;

	}
	.shoe-content {
		.content {
			.content {
				margin-bottom: 20px;
			}
		}
	}

	.imagecontainer {
		max-width: 299px;
		margin: 0 auto;
	}

	.shoe-content {
		margin-bottom: 20px;
	}
	.addtobasket {
		margin-top: 15px !important;
		h2 {
			font-size: 22px !important;
		}
	}
	.shoppingcart .remove {
		top: -50px !important;

	}
	.checkout-wrap {
		margin: 20px 0;
	}
}

.share {
	margin: 20px 0;
}

.addtobasket {
	h2 {
		font-size: 25px;
	}
	margin-top: 33px;
	.shoeprice {
		margin-bottom: 15px;
		font-size: 20px;
	}
	button {
		width: 100%;
	}
	.form-item-attributes-field-shoe-size label {
		display: none !important;
	}
}