.banner {
		img {
			width: 100%;
		}
	}

.shopppingbasketpage {
	
	.title {
		margin: 40px 0;
		text-transform: uppercase;
	}
	.borderbreak {
		border-bottom: 1px solid @primary-secondary;
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	.basketleft {
		border-right: 1px solid @primary-secondary;
		.shoppingbag-item {
		
			
			h3 {
				margin-top: 0;
			}
			.heeltype {
				margin-bottom: 20px;
				div {
					display: inline-block;
				}
			}
			.shoedetails,
			.price {
				margin-bottom: 20px;
				p {
					margin-bottom: 0;
				}
			}
		}
	}
	.remove {
		button {
			background: none !important;
			border: none !important;
			color: @primary-secondary;
			padding: 0;
		}
		i, p {
			display: inline-block;
		}
		i {
			padding-right: 5px;
		}
	}
	.view-shopping-basket-total {
		.subtotal {
			display: inline-block;
		}



	}
	.paybutton {
		text-align: center;
		.paysecurely {
			background-color: @primary-color;
			border: 1px solid @primary-color;
			color: #fff;
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			border-radius: 4px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;			
		}
	}
}


.checkout-buttons  {
	.button-operator {
		display: none;
	}
	.checkout-continue {
		float: right;
	}
	
}
.continue {
	color: @primary-secondary;
	&:before {
		content: "\f053";
		font-family: FontAwesome;
		margin-right: 7px;
		display: inline-block;
	}
	&:hover {
		text-decoration: none;
	}
}

.shoppingbasketpage {
	margin-bottom: 20px;
}

.addtobasket {
	.attribute-widgets {

		div {
			label,
			select {
				display: inline-block;
				font-weight: lighter;
			}			
		}
	}
	.form-item-quantity {
		label,
		span,
		input {
			display: inline-block;
		}
		input {
			width: 7%;
			padding: 0;
		}
	}
	h2 {
		margin-top: 0;
		text-transform: uppercase;
	}
	.field-type-commerce-price {
		margin: 15px 0;
		font-size: 16px;
		font-weight: bold;
	}
	.form-item-attributes-field-shoe-size,
	.form-item-quantity {
		label {
			font-weight: lighter ;

		}
	}
}

#accordion {
	h4 {
		font-size: 14px;
		color: @primary-secondary;
	}
}

.paybutton {
	.paysecurely:hover,
	.paysecurely:focus {
		color: #ffffff !important;
	}
}

fieldset {
	button {
		color: #ffffff !important;
	}
}

.checkout-bar {
	padding: 0;
}

    .backbtn {margin: 0 0 20px 0;}
    .share {
        margin-bottom: 10px;
    }

.shoeimgxs {
	.carousel-indicators {
	    position: absolute;
	    bottom: 15px;;
		li.active {
			background-color: @primary-color;
		}
		li {
			border-color:  @primary-color;
		
		}
	}
}

.shoppingcart {
	display: none;
	position: absolute;
	z-index: 10000;
	background-color: white;
		border: 1px solid black;
		right: 0;
}
.shoppingcart img {
	width: 50px;
}
.shoppingbasket {
	cursor: pointer;
}
.cartcount {
	text-align: right;
}
.shoppingcart {
	.cross {
		margin-bottom: 10px;
		cursor: pointer;
	}
}