.main-content {
	h1 {
		text-transform: uppercase;
	  margin: 20px 0 0 0;
	  min-height: 40px;
	  background-color: #f6f6f6;
	  font-size: 20px;
	  font-weight: bold;
	  padding: 10px 10px 10px 0;
	}
	margin-bottom: 20px;
}

.left-newsletter {
	background-color: #f1f1f1;
	padding-bottom: 20px;
}

.pane-bean-social-links,
#block-bean-social-links,
.followusblog
 {
	text-align: center;
	h2 {
		  font-size: 24px;
	}
	a {
		color: @primary-secondary;
		font-size: 27px;
		display: inline-block;
	}
}
.pane-webform-client-block-3,
.pane-bean-footer-content,
#block-bean-footer-content {
	h2 {
		font-size: 12px;
  		font-weight: bold;
	}

}

#webform-client-form-3 {
	text-align: center;
	margin-top: 20px;
	.form-group { 
		margin-bottom: 0 !important;
		}
	}
	#edit-submitted-country {
		margin-bottom: 10px;
	}


.views-exposed-form label {
	font-weight: lighter;
	font-size: 12px;
	margin-bottom: 0;
	top: -2px;
	position: relative;
}