// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

//Fonts
@import 'fonts/fontawesome/less/font-awesome.less';

//Variables
@import 'variables.less';

//Pages
@import 'header.less';
@import 'footer.less';
@import 'home.less';
@import 'standard.less';
@import 'shopnow.less';
@import 'blog.less';
@import 'contact.less';
@import 'shoppingbasket.less';
@import 'beans.less';
@import 'checkoutprogress'; 
@import 'account'; 

//Media Query
@import 'mediaqueries.less';


#commerce-checkout-form-checkout {
	div {
		div {
			margin-bottom: 20px;
			&:last-child {
				margin: 0 !important;
			}
		}
	}
}

.customer_profile_shipping {
	margin-bottom: 20px !important;
}

a, p, h1, h2, h3, h4, li, ul, div, select, option, .form-control {
	color: @primary-secondary;
}

.addtobasket form button {
	display: none;
}

.node-shoe {
	img {
		margin: 0 auto;
	}
}

.checkout-help {
	display: none;
}

.payment-redirect-form {
	.checkout-help {
		display: block;
	}
	form {
		button {
			margin-top: 20px;
    		color: #ffffff !important;
		}
	}
}

.selection {
margin-bottom: 70px !important;
}

@media (max-width: 767px) {
	.navbar_button {
		margin-top: 20px;
	}
}

#user-register-form {
	button {
		margin-top: 20px;
	}
}

.cardlogos {
	margin-top: 40px;
	img {
		display: inline-block;
	}
}

.borderbreak:last-of-type {
	display: none;
}

.alert-success {
	display: none;
}

.checkouttotal {
	.subtotaltext {
		margin-bottom: 20px;
		text-align: left;
		h2 {
			margin-top: 0;
			text-transform: uppercase;
			margin-right: 5px;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
	.totaltable{
		.view-content {
			display: none;
		}
		tr {
			display: none;
			&.component-type-commerce-price-formatted-amount {
				display: block;
				.component-title {
					display: none;
				}
			}
		}	
		.component-type-commerce-price-formatted-amount {
			background-color: transparent;
			td {
				border: none;
			}
		}
	}
	.table-responsive {
		border: none !important;
	}
}

.signinarea {
	.profile {
		h3 {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.checkouttotal {
		margin-top: 40px;
	}
}

.checkout-review {
	.country {
		display: block;
	}
}

.profileruser {
	.profiletitle {
		font-size: 16px;
	}
}