@import url(https://fonts.googleapis.com/css?family=Lato);

@primaryFontFamily: 'Lato', sans-serif;
@primary-color: #c1cd80;
@primary-secondary: #717171;


h1, h2, h3, li, p, a, div, ul, span, button {
	font-family: @primaryFontFamily;
}

.button-primary {
	background-color: @primary-color;
	border-color: @primary-color;
}

a {
	&:hover,
	&:focus {
		color: @primary-color !important;
	}
}

svg {	
		margin: 0 auto !important;
	}
